
@media (min-width:250px) and (max-width: 980px) {
        .continer {
            width: 100%;
        }
        header {
            display: flex;
            align-items: center;
        }
        header .logo {
            /* margin-right: 15px; */
        }
        header .logo img {
            width: 100px;
        }
        header .fa-list {
            display: block;
            margin-left: 15px;
        }
        header ul {
            flex-direction: column;
            position: absolute;
            left: 15px;
            top: 50px;
            background: #fff;
            box-shadow: 10px 10px 20px #ddd;
            overflow: hidden;
            /* width: 130px; */
            padding-left: 10px;
            z-index: 222;
            opacity: 0;
            transition: all .2s;
        }
        header ul a {
            width: 100%;
            /* height: 100%; */
            margin: 0;
            padding: 7px 15px;
        }
        header ul a:hover {
            /* width: ; */
            background: #333;
            color: #fff;
        }
        .buttons button {
            padding: 5px 10px;
            font-size: 13px;
            display: none;
        }
        .buttons {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        header .buttons .fa-user-plus {
            display: flex;
            position: relative;
            font-size: 22px;
            padding: 10px;
            cursor: pointer;
            /* color: #0d0425; */
            color: #00f;
            cursor: pointer;
            margin-right: 15px;
        }
        .login form {
            width: 300px;
        }
        .contint {
            flex-direction: column;
            gap: 30px;
        }
        .contint .contint-text h3 {
            font-size: 20px;
        }
        .contint .contint-text button {
            padding: 5px 10px;
        }
        .contint .imgs {
            width: 40%;
        }
        .interview {
            width: 250px;
            margin-top: 30px;
        }
        .our-app {
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: center;
            flex-direction: column;
            gap: 30px;
        }
        .our-app .our-app-text {
            margin-left: 0;
        }
        .our-app .our-app-text button {
            padding: 5px 10px;
        }
        .words h3 {
            font-size: 20px;
        }
        .words {
            width: 90%;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        }
        .customer {
            width: 90%;
        }
        .customer h2 {
            font-size: 20px;
            margin-bottom: 40px;
        }
        .follow .follow-my {
            padding: 15px;
        }
        .follow .follow-my ul a {
            margin: 5px;
        }
        .more {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            width: 90%;
        }
        .more h4 {
            /* font-size: 25px; */
            margin-top: -50px;
        }
        .more .more-box {
            margin-top: 50px;
        }
        .about {
            text-align: center;
            flex-direction: column;
            gap: 30px;
            width: 90%;
        }
        .about .about-my {
            width: 90%;
            gap: 20px;
            flex-direction: column;
        }
        .about .about-servies {
            width: 90%;
        }
        .about .about-my .about-my-text {
            text-align: center;
        }
        .about .about-my .about-my-text p {
            width: 90%;
        }
        .about .about-my img {
            width: 85%;
        }
        footer {
            flex-direction: column;
            gap: 25px;
            width: 100%;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 30px;
            box-sizing: border-box;
        }
    
}